<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="Profil">
    <md-content class="md-padding">
      <h4 class="md-display-1">Profil</h4>
      <div flex-xs flex-gt-xs="80">
        <md-card md-theme-watch>
          <md-card-title layout="row" layout-align="space-around start" layout-padding>
            <md-card-title-media>
              <div class="md-media-lg card-media">
                <!--<img ng-src="assets/images/profile-pic.png" alt="">-->
                <!--<img src="http://localhost:3000/assets/images/profile-pic.png" alt="">-->
                
                <img ng-src="{{vm.getAvatar}}" alt="">
              </div>
            </md-card-title-media>
            <md-card-title-text>
              <span class="md-headline">{{vm.user.username}}</span>
              <span class="md-subhead">{{vm.user.role}}</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <table class="table">
              <tbody>
                <tr>
                  <td>Nama: </td><td>{{vm.user.username}}</td>
                </tr>
                <tr>
                  <td>Email: </td><td>{{vm.user.email}}</td>
                </tr>
                <tr>
                  <td>Dihapus: </td><td>{{vm.user.isDeleted}}</td>
                </tr>
                <tr>
                  <td>Terdaftar sejak: </td><td>{{vm.user.createdAt | date:'dd MMMM yyyy' }}</td>
                </tr>
              </tbody>
            </table>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <md-button>Action 2</md-button>
          </md-card-actions>
        </md-card>

        <md-card>
          <md-card-header>
            <md-card-header-text>
              <span class="md-title">Edit Profil</span>
            </md-card-header-text>
          </md-card-header>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Ganti Avatar</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <form name="avatarForm" layout="column">
              <lf-ng-md-file-input name="avatar" lf-files="files" accept="image/*" lf-mimetype="image/*" lf-filesize="2MB" lf-placeholder="Unggah gambar avatar anda" preview lf-browse-label="Pilih..." lf-required></lf-ng-md-file-input>
              <div ng-messages="avatarForm.avatar.$error" style="color:red;">
                <div ng-message="required">Belum ada gambar avatar dipilih</div>
                <div ng-message="filesize">Ukuran File maksimal 2 MB</div>
                <div ng-message="mimetype">Mimetype error.</div>
              </div>
            </form>
            
            <md-button class="md-raised md-warn" ng-disabled="avatarForm.$invalid" ng-click="vm.onAvatarSubmit(vm.user.id)">Unggah</md-button>
          </md-card-content>
        </md-card>


      </div>
    </md-content>

  </md-tab>

  <md-tab label="Data Pengguna" ng-if="vm.user.role !== 'user'">
    <md-content class="md-padding">
      <h4 class="md-display-1">Data Pengguna</h4>
      <table class="table">
        <theader>
          <tr>
            <td>Nama</td>
            <td>Email</td>
            <td>Status</td>
            <td>Dihapus</td>
            <td></td>
          </tr>
        </theader>
        <tbody>
          <tr ng-repeat="user in vm.allUser | orderBy:'role'">
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
            <td>{{user.isDeleted}}</td>
            <td>Button</td>
          </tr>
        </tbody>
      </table>
    </md-content>
  </md-tab>
</md-tabs>
