<section layout="row">
  <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="4">
    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">Sidenav Left</h1>
    </md-toolbar>
    <md-content layout-padding="">
      <p>
        This sidenav is locked open on your device. To go back to the default behavior,
        narrow your display.
      </p>
      <md-button layout="column" layout-align="center center" flex class="capitalize" ui-sref-active="md-warn" ui-sref="home.dashboard">
        <div hide-sm hide-md class="md-tile-content">
          <i class="material-icons md-36">home</i>
        </div>
        <div class="md-tile-content">
          Dashboard
        </div>
      </md-button>
      <md-button layout="column" layout-align="center center" flex class="capitalize" ui-sref-active="md-warn" ui-sref="home.profile">
        <div hide-sm hide-md class="md-tile-content">
          <i class="material-icons md-36">profile</i>
        </div>
        <div class="md-tile-content">
          Profile
        </div>
      </md-button>
    </md-content>
  </md-sidenav>

  <md-content flex="" layout-padding="">
      <md-tabs md-dynamic-height md-border-bottom>

        <md-tab label="Profil">
          <md-content class="md-padding">
            <h4 class="md-display-1">Profil</h4>
            <div flex-xs flex-gt-xs="80">
              <md-card md-theme-watch>
                <md-card-title layout="row" layout-align="space-around start" layout-padding>
                  <md-card-title-media>
                    <div class="md-media-lg card-media">
                      <img ng-src="/assets/images/profile-pic.png" alt="">
                    </div>
                  </md-card-title-media>
                  <md-card-title-text>
                    <span class="md-headline">{{vm.user.username}}</span>
                    <span class="md-subhead">{{vm.user.role}}</span>
                  </md-card-title-text>
                </md-card-title>
                <md-card-content>
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>Nama: </td><td>{{vm.user.username}}</td>
                      </tr>
                      <tr>
                        <td>Email: </td><td>{{vm.user.email}}</td>
                      </tr>
                      <tr>
                        <td>Dihapus: </td><td>{{vm.user.isDeleted}}</td>
                      </tr>
                      <tr>
                        <td>Terdaftar sejak: </td><td>{{vm.user.createdAt | date:'dd MMMM yyyy' }}</td>
                      </tr>
                    </tbody>
                  </table>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button>Action 2</md-button>
                </md-card-actions>
              </md-card>
            </div>
          </md-content>
        </md-tab>

        <md-tab label="Data Pengguna" ng-if="vm.user.role !== 'user'">
          <md-content class="md-padding">
            <h4 class="md-display-1">Data Pengguna</h4>
            <table class="table">
              <theader>
                <tr>
                  <td>Nama</td>
                  <td>Email</td>
                  <td>Status</td>
                  <td>Dihapus</td>
                  <td></td>
                </tr>
              </theader>
              <tbody>
                <tr ng-repeat="user in vm.allUser | orderBy:'role'">
                  <td>{{user.username}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.role}}</td>
                  <td>{{user.isDeleted}}</td>
                  <td>Button</td>
                </tr>
              </tbody>
            </table>
          </md-content>
        </md-tab>
        
      </md-tabs>
    </md-content>
</section>


    
