<!--header class="header">
  <p class="header-title">
    <a ui-sref="home">Home</a>
    <a ui-sref="login" ng-if="!vm.isAuthenticated">Login</a>
    <a ui-sref="dashboard" ng-if="vm.isAuthenticated">Dashboard</a>
    <span class="pull-right" style="color: white;" ng-if="vm.isAuthenticated">Welcome {{vm.username}} {{$root.isAuthenticated}}</span>
    <div class="btn btn-default" ng-click="vm.logout()" ng-if="vm.isAuthenticated">logout</div>
    <!--div class="btn btn-default" ng-if="isAuthenticated">isAuth</div>
    <div class="btn btn-default" ng-if="!isAuthenticated">isNotAuth</div-->
  <!--/p>
</header-->

<md-toolbar>
  <div layout="row" layout-align="center center">
    <div flex-offset="5">

      <md-menu hide-gt-sm ng-if="vm.isAuthenticated">
        <md-button class="md-fab md-mini" hide-gt-sm aria-label="Open menu" ng-click="$mdOpenMenu()" >
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </md-button>
        <md-menu-content width="3">
            <md-menu-item><md-button ui-sref="dashboard.home" ui-sref-active="md-warn">Beranda</md-button></md-menu-item>
            <md-menu-item><md-button ui-sref="dashboard.user" ui-sref-active="md-warn">Profil</md-button></md-menu-item>
            <md-menu-item><md-button ui-sref="dashboard.showRad" ui-sref-active="md-warn">Data RAD</md-button></md-menu-item>
            <md-menu-item ng-if="vm.user.role !== 'user'"><md-button ui-sref="dashboard.rad" ui-sref-active="md-warn" ng-if="vm.user.role !== 'user'">Isi RAD</md-button></md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>

    <div flex class="md-toolbar-tools">
      <md-button aria-label="Dashboard" ui-sref="dashboard.home" ui-sref-active="active" ng-if="vm.isAuthenticated">
        Beranda
      </md-button>
    </div>

    <span hide-xs hide-sm show-md class="welcome-user" ng-if="vm.isAuthenticated">{{vm.user.username}}</span>
    <span>
      <md-button class="md-raised md-primary md-hue-1" aria-label="Login" ui-sref="login" ui-sref-active="active" ng-if="!vm.isAuthenticated">
        Login
      </md-button>
    </span>
    <span>
      <md-button class="md-raised md-warn md-hue-2" aria-label="Logout" ng-click="vm.logout()" ng-if="vm.isAuthenticated">
        Logout
      </md-button>
    </span>
    <span flex-offset="5"></span>
  </div>
</md-toolbar>


  <!--md-nav-bar md-selected-nav-item="currentNavItem">
    <md-nav-item md-nav-click="goto('page1')" name="page1">Page One</md-nav-item>
    <md-nav-item md-nav-sref="app.page2" name="page2">Page Two</md-nav-item>
    <md-nav-item md-nav-href="#page3" name="page3">Page Three</md-nav-item>
  </md-nav-bar-->
