<div>

  <form name="userForm" novalidate ng-submit="userForm.$valid && vm.clickFormRad(vm.isirad)">

    <md-content md-theme="docs-dark" layout-padding>
     <h3>FORM Isian RAD</h3>
     <div layout="row" flex>
       <md-input-container flex="50">
         <label>Kategori: </label>
         <md-select ng-model="vm.isirad.nomor">
           <md-optgroup label="Kategori">
             <md-option ng-value="kategori.nomor" ng-repeat="kategori in vm.kategoriList">{{kategori.kategori}}</md-option>
           </md-optgroup>
         </md-select>
       </md-input-container>

       <md-input-container flex="15">
         <label>Tahun RAD:</label>
         <md-select ng-model="vm.isirad.tahun">
           <md-optgroup label="Tahun">
             <md-option ng-value="tahun.tahun" ng-repeat="tahun in vm.tahunList">{{tahun.tahun}}</md-option>
           </md-optgroup>
         </md-select>
       </md-input-container>

       <md-input-container flex="30">
         <label>Tanggal Entri:</label>
         <md-datepicker ng-model="vm.isirad.tanggalInput"></md-datepicker>
       </md-input-container>
     </div>
   </md-content>

   <md-content layout-padding>
     <md-input-container class="md-block">
       <label>Permasalahan:</label>
       <textarea name="masalah" ng-model="vm.isirad.masalah" rows="2" required></textarea>
       <div ng-messages="userForm.masalah.$error">
         <div ng-message="required">Harus diisi.</div>
       </div>
     </md-input-container>

     <md-input-container class="md-block">
       <label>Usulan Rekomendasi:</label>
       <textarea ng-model="vm.isirad.rekomendasi" rows="2" md-select-on-focus></textarea>
     </md-input-container>

      <md-input-container class="md-block">
       <label>Rencana Aksi:</label>
       <textarea ng-model="vm.isirad.rencanaAksi" rows="3" md-select-on-focus></textarea>
     </md-input-container>

     <div layout="row" flex>
       <md-input-container flex="90">
         <label>SKPD /Instansi yang Bertanggung Jawab: {{vm.isirad.selectedSkpd}}</label>
         <md-select ng-model="vm.isirad.selectedSkpd" multiple>
           <md-optgroup label="SKPD">
             <md-option ng-value="skpd.skpd" ng-repeat="skpd in vm.skpdList">{{skpd.skpd}}</md-option>
           </md-optgroup>
         </md-select>
       </md-input-container>
     </div>

     <md-input-container class="md-block">
       <label>Ukuran Keberhasilan:</label>
       <textarea ng-model="vm.isirad.ukuranBerhasil" rows="2" md-select-on-focus></textarea>
     </md-input-container>

     <md-input-container class="md-block">
       <label>Target Capaian {{vm.isirad.tahun}}:</label>
       <textarea ng-model="vm.isirad.targetLastYear" rows="2" md-select-on-focus></textarea>
     </md-input-container>

     <md-input-container class="md-block">
       <label>Target Capaian {{vm.isirad.tahun + 1}}:</label>
       <textarea ng-model="vm.isirad.targetThisYear" rows="2" md-select-on-focus></textarea>
     </md-input-container>

     <md-input-container class="md-block">
       <label>Status Saat Ini:</label>
       <textarea ng-model="vm.isirad.statusLastYear" rows="2" md-select-on-focus></textarea>
     </md-input-container>

     <div layout="row" flex>
      <label flex="20">Persentasi Capaian:</label>
      <md-input-container flex="70">
        <md-slider ng-model="vm.isirad.persentasiCapaian" flex md-discrete step="5" min="0" max="100" aria-label="rating" id="capaian-slider">
        </md-slider>
      </md-input-container>
      <md-input-container flex="10">
        <input type="number" ng-model="vm.isirad.persentasiCapaian" aria-label="green" aria-controls="capaian-slider" disabled>
        <md-icon>%</md-icon>
      </md-input-container>
     </div>

     <md-input-container class="md-block">
       <label>Keterangan:</label>
       <textarea ng-model="vm.isirad.keterangan" rows="2" md-select-on-focus></textarea>
     </md-input-container>

     <md-input-container>
       <md-button type="submit" class="md-primary md-raised" aria-label="submit" ng-disabled="userForm.$invalid">Kirim</md-button>
     </md-input-container>

   </md-content>

  </form>


</div>
