<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="Home">
    <md-content class="md-padding">
      <h4 class="md-display-1">Beranda</h4>
      <div flex-xs>
        Pilih Tahun: {{vm.lastYear}}
        <md-card md-theme-watch>
          <md-card-title layout="row" layout-align="space-around start" layout-padding>
   
            <md-card-title-text>
              <span class="md-headline">Rerata (<i>average</i>) Persentasi Capaian Tahun {{vm.lastYear}}</span>
              <span class="md-subhead">{{vm.user.username}}</span>
            </md-card-title-text>
          </md-card-title>

          <md-card-content>
            <canvas height="80" class="chart chart-bar" chart-data="vm.avgMasalahPersentasi" chart-labels="vm.jenisMasalah" 
	             chart-options="vm.options"></canvas>
          </md-card-content>
          
          <md-card-actions layout="row" layout-align="end center">
            <md-button>Action 2</md-button>
          </md-card-actions>
        </md-card>
      
      </div>
    </md-content>

    <md-content class="md-padding"> 
      <div flex-xs>  
        <section ng-repeat="data in vm.dataTahunan">
          <md-card>
            <md-subheader class="md-primary">{{data.kategori}}</md-subheader>
            <md-card-content>
              <table class="table">
                <theader>
                  <tr>
                    <td width="90%">Detail Permasalahan</td>
                    <td width="10%">Persentasi Capaian</td>
                  </tr>
                </theader>
                <tbody>
                  <tr ng-repeat="ren in data.renaksi">
                    <td>{{ren.masalah}}</td>
                    <td><b>{{ren.persentasi_capaian}} %</b></td>
                  </tr>
                </tbody>
              </table>
            </md-card-content>
          </md-card>       
        </section>
      </div>
    </md-content>

  </md-tab>
</md-tabs>

        