<md-content md-theme="docs-dark" layout-padding>
  <h3>Detail Data RAD</h3>
  <md-input-container>
    <label>Pilih tahun: </label>
    <md-select ng-model="vm.tahun" ng-change="vm.changeTahun(vm.tahun)">
      <md-option ng-value="tahun.tahun" ng-repeat="tahun in vm.tahunList">{{tahun.tahun}}</md-option>
    </md-select>
  </md-input-container>
</md-content>

<div class="" ng-repeat="data in vm.dataTahunan">
  <md-card style="margin:8px 0px;">
    <md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">
        <span>{{data.kategori}}</span>
      </div>
    </md-toolbar>
    <div ng-if="data.renaksi.length > 0">

      <md-table-container>
        <table md-table ng-model="vm.selected" md-progress="promise">
          <thead md-head md-order="vm.query.order">
            <tr md-row md-auto-select>
              <th md-column><span>No.</span></th>
              <th md-column><span>Masalah</span></th>
              <th md-column><span>Rekomendasi</span></th>
              <th md-column>Rencana Aksi</th>
              <th md-column>SKPD</th>
              <th md-column>Ukuran Keberhasilan</th>
              <th md-column>Target Capaian {{vm.lastYear}}</th>
              <th md-column>Target Capaian {{vm.curYear}}</th>
              <th md-column>Status s/d Desember</th>
              <th md-column>Persentasi<br>Capaian</th>

            </tr>
          </thead>
          <tbody>
            <tr md-body ng-repeat="renaksi in data.renaksi" style="white-space:pre-line" md-auto-select>
              <td md-cell>{{$index+1}}.<br>
                <md-button class="md-icon-button md-accent" aria-label="More" ng-click="vm.showAdvanced($event, renaksi)" ng-if="vm.user.role !== 'user'">
                  <i class="glyphicon glyphicon-cog"></i>
                </md-button>
                <md-button class="md-icon-button md-accent" aria-label="Bukti" ng-click="vm.showAddBuktiDialog($event, renaksi)">
                  <i class="glyphicon glyphicon-file"></i>
                </md-button>
              </td>
              <td md-cell>{{renaksi.masalah}}</td>
              <td md-cell>{{renaksi.rekomendasi}}</td>
              <td md-cell>{{renaksi.rencana_aksi}}</td>
              <td md-cell><ul ng-repeat="x in renaksi.skpd" ng-if="x.length > 0"><li>{{x}}</li></ul></td>
              <td md-cell>{{renaksi.ukuran_berhasil}}</td>
              <td md-cell>{{renaksi.target_last_year}}</td>
              <td md-cell>{{renaksi.target_this_year}}</td>
              <td md-cell>{{renaksi.status_last_year}}</td>
              <td md-cell>{{renaksi.persentasi_capaian}}%</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>

    </div>
    <div class="" ng-if="data.renaksi.length == 0">
      Tidak ada data
    </div>
  </md-card>

</div>
