<md-dialog aria-label="Form Tambah Bukti RAD" flex="60">
  <div ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Bukti RAD</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close" ng-click="$ctrl.cancel()">
          x
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">

          <md-content class="md-padding" layout-xs="column" layout="row" layout-wrap>
            <div ng-repeat="image in $ctrl.buktiList" flex-xs flex-gt-xs="50" layout="column">
                <md-card>
                  <img ng-src="http://localhost:1337/renaksi/bukti-rad/{{image.imageName}}" class="md-card-image" alt="Washed Out">
                  <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" aria-label="Delete" ng-if="$ctrl.user.role !== 'user'">
                      <i class="glyphicon glyphicon-trash"></i>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Open" ng-href="http://localhost:1337/renaksi/bukti-rad/{{image.imageName}}" target="_blank">
                      <i class="glyphicon glyphicon-share-alt"></i>
                    </md-button>
                  </md-card-actions>
              </md-card>
            </div>
          </md-content>
          <md-card>
            <md-card-title>
              <md-card-title-text>
                <span>Tambah gambar bukti (Hanya format JPG dan PNG). Ukuran gambar tidak lebih dari 1 Mb.</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <form name="addBuktiForm" novalidate>
                <lf-ng-md-file-input name="bukti" lf-files="files" accept="image/*" lf-mimetype="image/*" lf-filesize="2MB" lf-placeholder="Unggah gambar bukti RAD anda" preview lf-browse-label="Pilih..." lf-required></lf-ng-md-file-input>
                <div ng-messages="addBuktiForm.bukti.$error" style="color:red;">
                    <div ng-message="required">Belum ada gambar dipilih</div>
                    <div ng-message="filesize">Ukuran File maksimal 2 MB</div>
                    <div ng-message="mimetype">Mimetype error.</div>
                </div>
                
              </form>
              <md-button class="md-primary md-raised"  ng-disabled="addBuktiForm.$invalid" ng-click="$ctrl.clickFormBuktiRad($ctrl.renaksi.id)">
                Tambah
              </md-button>
            </md-card-content>
          </md-card>
            
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="$ctrl.answer('cancel')">
       Tutup
      </md-button>
    </md-dialog-actions>
  </div>
</md-dialog>
