<md-dialog aria-label="Form Edit RAD" flex="60">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Form Perubahan RAD</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close" ng-click="$ctrl.cancel()">
          x
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div>

          <form name="editForm" novalidate>

            <md-content md-theme="docs-dark" layout-padding>
             <h3>Edit RAD Input {{$ctrl.renaksi.tahun}}</h3>
             <div layout="row" flex>
               <md-input-container flex="50">
                 <label>Kategori </label>
                 <md-select ng-model="$ctrl.renaksi.kategori">
                   <md-optgroup label="Kategori">
                     <md-option ng-value="kategori.nomor" ng-repeat="kategori in $ctrl.kategoriList">{{kategori.kategori}}</md-option>
                   </md-optgroup>
                 </md-select>
               </md-input-container>

               <md-input-container flex="15">
                 <label>Tahun RAD</label>
                 <md-select ng-model="$ctrl.renaksi.tahun">
                   <md-optgroup label="Tahun">
                     <md-option ng-value="tahun" ng-repeat="tahun in $ctrl.tahunList">{{tahun}}</md-option>
                   </md-optgroup>
                 </md-select>
               </md-input-container>

             </div>
           </md-content>

           <md-content layout-padding>
             <md-input-container class="md-block">
               <label>Permasalahan</label>
               <textarea name="masalah" ng-model="$ctrl.renaksi.masalah" rows="2" required></textarea>
               <div ng-messages="userForm.masalah.$error">
                 <div ng-message="required">Harus diisi.</div>
               </div>
             </md-input-container>

             <md-input-container class="md-block">
               <label>Usulan Rekomendasi</label>
               <textarea ng-model="$ctrl.renaksi.rekomendasi" rows="2" md-select-on-focus></textarea>
             </md-input-container>

              <md-input-container class="md-block">
               <label>Rencana Aksi</label>
               <textarea ng-model="$ctrl.renaksi.rencana_aksi" rows="3" md-select-on-focus></textarea>
             </md-input-container>

             <div layout="row" flex>
               <md-input-container flex="90">
                 <label>SKPD /Instansi yang Bertanggung Jawab</label>
                 <md-select ng-model="$ctrl.renaksi.skpd" multiple>
                   <md-optgroup label="SKPD">
                     <md-option ng-value="skpd.skpd" ng-repeat="skpd in $ctrl.skpdList">{{skpd.skpd}}</md-option>
                   </md-optgroup>
                 </md-select>
               </md-input-container>
             </div>

             <md-input-container class="md-block">
               <label>Ukuran Keberhasilan</label>
               <textarea ng-model="$ctrl.renaksi.ukuran_berhasil" rows="2" md-select-on-focus></textarea>
             </md-input-container>

             <md-input-container class="md-block">
               <label>Target Capaian {{$ctrl.renaksi.tahun}}</label>
               <textarea ng-model="$ctrl.renaksi.target_last_year" rows="2" md-select-on-focus></textarea>
             </md-input-container>

             <md-input-container class="md-block">
               <label>Target Capaian {{$ctrl.renaksi.tahun + 1}}</label>
               <textarea ng-model="$ctrl.renaksi.target_this_year" rows="2" md-select-on-focus></textarea>
             </md-input-container>

             <md-input-container class="md-block">
               <label>Status Saat Ini</label>
               <textarea ng-model="$ctrl.renaksi.status_last_year" rows="2" md-select-on-focus></textarea>
             </md-input-container>

             <div layout="row" flex>
              <label flex="20">Persentasi Capaian: </label>
              <md-input-container flex="70">
                <md-slider ng-model="$ctrl.renaksi.persentasi_capaian" flex md-discrete step="5" min="0" max="100" aria-label="rating" id="capaian-slider">
                </md-slider>
              </md-input-container>
              <md-input-container flex="10">
                <input type="number" ng-model="$ctrl.renaksi.persentasi_capaian" aria-label="green" aria-controls="capaian-slider" disabled>
                <md-icon>%</md-icon>
              </md-input-container>
            </div>

             <md-input-container class="md-block">
               <label>Keterangan</label>
               <textarea ng-model="$ctrl.renaksi.keterangan" rows="2" md-select-on-focus></textarea>
             </md-input-container>

           </md-content>

          </form>

        </div>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="$ctrl.answer('cancel')">
       Cancel
      </md-button>
      <md-button class="md-primary md-raised" ng-click="$ctrl.clickFormRad($ctrl.renaksi.id, $ctrl.renaksi)" ng-disabled="editForm.$invalid">
       Ubah
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
