<div class="container">
    <div layout="row" layout-align="center center" style="margin-top: 15px;">
        
        <div flex="40" flex-md="60" flex-sm="80" flex-xs="100">

            <md-toolbar class="" md-theme="greenTheme">
                <div class="md-toolbar-tools">
                    <h2>
                        <span>Sign in</span>
                    </h2>
                    <span flex></span>
                </div>
            </md-toolbar>

            <md-content layout-padding>
                <form id="loginform" class="form-horizontal" ng-submit="vm.clickLogin(vm.formLogin)">      
                    <md-input-container class="md-icon-float md-block">
                    <!-- Use floating label instead of placeholder -->
                        <label>Email</label>
                        <md-icon class="email"><i class="glyphicon glyphicon-envelope"></i></md-icon>
                        <input required ng-model="vm.formLogin.email" name="email" type="email">
                        <div ng-messages="vm.loginForm.email.$error" role="alert">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                    <!-- Use floating label instead of placeholder -->
                        <label>Password</label>
                        <md-icon class="password"><i class="glyphicon glyphicon-lock"></i></md-icon>
                        <input ng-model="vm.formLogin.password" type="password">
                    </md-input-container>
                    <!-- SUBMIT BUTTON -->
                    <md-input-container layout="column" md-theme="greenTheme">
                        <!--<button type="submit" class="btn btn-success btn-lg btn-block" ng-click="vm.clickLogin(vm.formLogin)">
                            <span class="glyphicon glyphicon-flash"></span> Submit!
                        </button>-->
                        <md-button type="submit" ng-disabled="loginForm.$invalid" class="md-raised md-primary" aria-label="Submit" >
                            <span class="glyphicon glyphicon-flash"></span> Submit!
                        </md-button>
                    </md-input-container>
                </form>    
            </md-content>

        </div>

    </div>
</div>